

 <div class ="text-center mt-4">
   <a class="btn btn-primary text-center" href="#!/userForm" (click)="displayForm()">Create new user</a>
 </div>
<div class=" row mt-5" ng-controller = 'UsersCtrl'>
    <div class="col-md-4 mb-3"ng-repeat = " user in users">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{user.firstName}}</h5>
          <p class="card-text">{{user.lastName}}</p>
          <p class="card-text">{{user.email}}</p> 
          <div class ="btn-group">
          <button class="btn btn-primary " (click)="viewSheet(patient._id)">Modify user</button>
          <button class="btn btn-danger " ng-click="deleteUser(user.id)">Remove user</button>
        </div>   
        </div>
      </div>
    
  </div>
</div>
 