<div class="row justify-content-center" id="form">
    <h4 class= "text-center">Add user</h4>
    <div class="col-3">
        <form name="userForm">
            <div class="form-group ">
                <label class="col-md-3 control-label" for="firstname">Firstname</label>
                <input id="firstname" required type="text" class="form-control" name="firstname" ng-model="user.firstName" />
                <p ng-show="userForm.firstname.$invalid" class="help-block">Please enter your firstname</p>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="lastname">Lastname</label>
                <input id="lastname" required type="text" class="form-control" name="lastname" ng-model="user.lastName" />
                <p ng-show="userForm.lastname.$invalid" class="help-block"> Please enter your lastname</p>                     
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="mail">Email</label>
                <input id="mail" required type="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" class="form-control" name="mail"
                    ng-model="user.email" />
                    <p ng-show="userForm.mail.$invalid" class="help-block"> Please enter a valid email</p> </p>
            </div>
            <div class="form-group">
                <div class=" col-md-12">
                    <button ng-disabled="userForm.$invalid"  class="btn btn-primary"  ng-click="addUser(user)">add</button>
                    <input type="submit" class="btn btn-danger" value="cancel" />
                </div>
            </div>
        </form>
    </div>
</div>